# {{ ansible_managed }}

[program:jupyterhub]
command={{jupyterhub_srv_dir}}/start-jupyterhub.sh --config={{ jupyterhub_config_dir }}/jupyterhub_config.py
redirect_stderr=true
stdout_logfile={{ jupyterhub_log_dir }}/jupyterhub.log
autostart=true
autorestart=false
stopasgroup=true
user=root
directory={{jupyterhub_srv_dir}}
