# {{ ansible_managed }}
# Configuration file for jupyterhub.

c = get_config()
c.JupyterHub.ip = u'{{ ansible_default_ipv4.address }}'
c.JupyterHub.port = 8000
c.JupyterHub.cookie_secret_file = u'{{ jupyterhub_srv_dir }}/cookie_secret'
c.JupyterHub.db_url = u'{{ jupyterhub_srv_dir }}/jupyterhub.sqlite'

{% if use_oauth %}
c.JupyterHub.authenticator_class = u'oauthenticator.LocalGitHubOAuthenticator'
c.LocalGitHubOAuthenticator.create_system_users = True
c.GitHubOAuthenticator.oauth_callback_url = u'{{ oauth_callback_url }}'
c.GitHubOAuthenticator.client_id = u'{{ oauth_client_id }}'
c.GitHubOAuthenticator.client_secret = u'{{ oauth_client_secret }}'
{% endif %}

{% if jupyterhub_admins|length %}
c.Authenticator.jupyterhub_admins = {
{%- for user in jupyterhub_admins[:-1] -%}
'{{user}}',
{%- endfor -%}
'{{-jupyterhub_admins[-1]-}}'}
{% else %}
c.Authenticator.jupyterhub_admins = set()
{% endif %}

{% if users|length %}
c.Authenticator.whitelist = {
{%- for user in jupyterhub_users[:-1] -%}
'{{user}}',
{%- endfor -%}
'{{-jupyterhub_users[-1]-}}'}
{% else %}
c.Authenticator.whitelist = set()
{% endif %}



